:root {
    --primary-color: white;
    --primary-background: #1f487e;
    --darker-background: #1D3461;
    --light-background: #376996;
    --primary-shadow: var(--primary-background) -28px 6px 202px -6px inset;
    --title: 5.5em;
    --subtitle: 2em;
}
