nav {
    background-color: var(--light-background);
}

main {
    padding: 6em 0;
    box-shadow: var(--primary-shadow);
}

main .container:first-child {
    gap: 1em;
}

main section {
    padding: 1em 0;
}
main section .info, main section .img {
    flex: 50%;
}

main section p {
    max-inline-size: 110ch;
}

main .container:last-child {
    gap: 1em;
}

main .container:last-child > section {
    gap: 1em;
}

main section > img {
    width: 40%;
}
main section .img img {
    width: 100%;
}

.slide {
    text-align: center;
    position: relative;
    width: 15em;
    height: 15em;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    cursor: pointer;
    transition: .8s ease-in-out;
}

.slide .back {
    position: absolute;
    width: 100%;
    display: none;
    height: 0%;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 1.4em;
    background: rgba(31, 72, 126, 0.9);
    border-radius: 2em;
    transition: .8s ease-in-out;
}

.slide:hover .back {
    display: flex;
    transition: .8s ease-in-out;
    height: 100%;
}

.slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    width: 100%;
    padding: 1em 0;
    margin: 20px auto;
    gap: 1em;
}

#frontend, #design, #cis {
    background-color: rgba(83, 119, 154, 0.3);
}

.full-bleed {
    box-shadow: 0 0 0 100vmax rgba(83, 119, 154, 0.3);
    clip-path: inset(0 -100vmax);
}

@media only screen and (max-width: 1920px) {
    .slide {
        width: 12em;
        height: 12em;
    }
}

@media only screen and (max-width: 1080px) {
    main .container:last-child > section {
        flex-direction: column;
    }

    main section > img {
        width: 60%;
    }

    .slide {
        width: 10em;
        height: 10em;
    }

    .slide .back {
        border-radius: 1.4em;
    }
}

@media only screen and (max-width: 548px) {
    .slide {
        width: 22vw;
        height: 22vw;
    }

    .slide .back {
        border-radius: 1.1em;
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 340px) {
    .slide .back {
        border-radius: 1em;
        font-size: 0.6em;
    }
}
@media print {
    .full-bleed {
        all: unset;
    }
    #frontend, #design, #cis {
        background: none;
    }
    .slide {
        width: 5em;
        height: 5em;
    }
}