nav {
    padding: .4em 0 .4em 0;
    width: 100%;
    gap: 4em;
    z-index: 999;
}
nav.activated {
    background-color: var(--light-background) !important;
}
nav img {
    width: 100%;
    height: auto;
}
nav ul {
    flex-grow: 1;
    gap: 2em;
}
nav .icons {
    margin: 0;
    font-size: 1.4em;
}
nav ul li{
    list-style: none;
    padding: 0.4em;
}
nav ul li a {
    color: var(--primary-color);
    font-size: 1em;
    position: relative;
}
nav .icons {
    gap: 1em;
}
nav .icons i {
    transition: 0.4s;
}
nav .icons i:hover {
    transform: scale(1.2);
    transition: .4s ease-in-out;
}
nav .links li a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: .25s linear;
}
nav .links li a:hover:before {
    visibility: visible;
    transform: scaleX(1);
    transition: .2s;
}
.hamburger {
    display: none;
    cursor: pointer;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;;
    margin: 5px auto;
    background-color: white;
    transition: all ease-in-out;
}
@media only screen and (max-width: 1080px) {
    nav .links {
        left: 200%;
        flex-direction: column;
        position: fixed;
        top: 0;
        width: 100%;
        text-align: center;
        transition: .6s ease-in-out;
        padding: 1em 0;
        background-color: var(--light-background);
        margin: 80px auto;
        max-height: 100vh;
    }
    nav .links.activated {
        display: flex;  
        left: 0; 
    }
    nav .icons {
        justify-content: center;
        margin-left: -64px;
        padding: 0;
    }
    .hamburger {
        display: block;
    }
    .bar.activated:nth-child(2) {
        opacity: 0;
    }
    .bar.activated:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .bar.activated:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}
@media only screen and (max-width: 548px) {
    nav .container{
        justify-content: space-between;
    }
    nav .icons {
        position: fixed;
        width: 100%;
        justify-content: center;
        background: var(--light-background);
        left: -200%;
        top: 350px;
        padding: .6em 0;
        margin: 0 auto;
        z-index: 10000;
        opacity: 0;
        transition: .6s ease-in-out;
    }
    nav .icons.activated {
        display: flex;  
        left: 0; 
        opacity: 1;
    }
}
@media print {
    nav {
        display: none;
    }
}