nav  {
    background-color: var(--light-background);
}
main {
    padding: 6em 0;
    box-shadow: var(--primary-shadow);
}
main > .container {
    margin-bottom: 3em;
}
main section {
    padding: 2em 0;
    position: relative;
}
main section:nth-child(even) {
    color: white;
}
.caption {
    margin-top: 1em;
}
main section:nth-child(even) .caption:before {
    background: var(--light-background);
}
main section:nth-child(even):before {
    content: "";
    position: absolute;
    transform: skewY(3deg);
    background: var(--primary-background);
    width: 100%;
    z-index: -1;
    height: 100%;
}
main section .references {
    padding: 1em 0;
    display: flex;
    gap: 1em;
}
main section .references a {
    color: white;
    padding: 12px 24px;
    box-shadow: 1px 1px 0 0, 2px 2px 0 0, 3px 3px 0 0, 4px 4px 0 0, 5px 5px 0 0;
    border: 1px solid white;
    transition: .4s ease-in-out;
}
main section:nth-child(even) .references a:hover {
    background: white;
    color: black;
    transition: .4s ease-in-out;
}
main section:nth-child(odd) .references a:hover {
    background: var(--primary-background);
    color: white;
    transition: .4s ease-in-out;
}
main section:nth-child(odd) .references a {
    color: black;
    border: 1px black solid
}
.foto-gallery {
    padding: 1.2em 0;
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(4, 1fr);
}
.foto-gallery .gallery-item {
    height: 100%;
    position: relative;
    cursor: pointer;
    display: block;
}
.foto-gallery .gallery-item:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    content: "\f06e";
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99;
    cursor: pointer;
    background-color: var(--primary-background);
    opacity: 0;
    transition: 0.4s ease-in-out;
}

.foto-gallery .gallery-item:hover::before {
    opacity: 0.8;
}
.foto-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: .5em;
}
@media only screen and (min-width: 1280px) {
    main .title-with-arrow {
        margin-bottom: 1.5em !important;
    }
}
@media only screen and (max-width: 1080px) {
    .foto-gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (max-width: 548px) {
    .foto-gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media print {
    main section {
        color: black !important;
    }
}