
.introduction {
    width: 100%;
    height: 100dvh;
    z-index: -8;
    background: url("/img/IMG_2587-edit.JPG") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}
.introduction .container, .introduction .container > div {
    height: inherit;
}
.introduction h1 {
    font-size: var(--title) !important;
    color: var(--primary-color);
    text-shadow: 4px 4px black;
    text-decoration: underline 4px #00d9ff;
    text-underline-offset: 10px;
}
.introduction h2 {
    color: var(--primary-color);
    font-size: var(--subtitle);
    text-shadow: 4px 4px black;
    padding: 0 0 1em 0;
}
.introduction .title {
    text-align: center;
}
.introduction .title img{
    display: none;
    min-height: 15em;
    min-width: 15em;
    max-width: 20em;
    max-height: 20em;
    height: 40vw;
    width: 40vw;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 50%;
}
.introduction .title a{
    background-color: white;
    color: black;
  border: 1px solid #000;
  border-radius: 2em;
  box-sizing: border-box;
  cursor: pointer;
  padding: 12px 40px;
  text-align: center;
  white-space: nowrap;
}
#about {
    box-shadow: var(--primary-shadow);
    min-height: 100vh;
}
#about a {
    font-family: 'Merriweather', serif ;
    text-decoration: underline;
    color: black;
}
#about a:hover {
    color: var(--primary-background);
}
#about p {
    margin-bottom: 0;
}
#about:before {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 100dvh;
    background: url("/img/wave-haikei2.svg") no-repeat center;
    background-size: cover;
    z-index: -1;
}
#about .about {
    flex: 50%;
    min-height: 100dvh;
}
#about .img {
    flex: 50%;
}
#about .me {
    background: url("/img/upravena_Navratil-min.jpg") no-repeat center;
    background-size: cover;
    height: 25vw;
    width: 25vw;
    border-radius: 50%;
}
.skills {
    min-height: 100vh;
    position: relative;
    -webkit-box-shadow: inset 0 0 199px 10px rgba(31,72,126,0.9);
    -moz-box-shadow: inset 0 0 199px 10px rgba(31,72,126,0.9);
    box-shadow: inset 0 0 199px 10px rgba(31,72,126,0.9);
}
.skills .container {
    min-height: 100vh;
}
.skills .container > div {
    margin-top: 10em;
}
.skills:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("/img/wave-haikei3.svg") no-repeat;
    background-size: cover;
    background-position-y: -5vh;
}
.skills .caption {
    text-indent: unset;
}
.skills .caption:before {
    all: unset;
}
.info {
    box-sizing: border-box;
    gap: 6em;
    padding: 2em 0;
}
.info .box {
    padding: 1em;
    gap: 1em;
}
.info .box a {
    color: white;
    font-family: 'Oswald', sans-serif;
    margin-top: 1em;
    font-size: 1.2em;
    transition: .4s;
    font-weight: 200;
    letter-spacing: 4px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid var(--darker-background);
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.info .box a:after {
    content: "";
    background-color: var(--light-background);
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}
.info .box a:hover:after {
    top: 0;
    left: 0;
  }
.info .box .circle {
    background: var(--primary-background);
    height: 16em;
    width: 16em;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: rgba(55, 105, 150, 0.4) 24px 12px;
    transition: .8s;
}
.info .box .circle:hover i {
    transform: rotate(360deg);
    transition: .8s;
}
.info .box .circle i {
    font-size:  4em;
    color: white;
}
@media only screen and (max-width: 1280px) {
    .info {
        gap: 2em;
    }
}
@media only screen and (max-width: 1080px), print {
    .introduction {
        background-color: var(--primary-background);
        min-height: 100dvh;
        height: unset;
    }
    .introduction .container > div {
        width: 100%;
        min-height: 100dvh;
        justify-content: center;
        text-align: center;
    }
    .introduction .title {
        padding: 2em 0;
    }
    .introduction .title img {
        display: block;
    }
    .introduction h1 {
        line-height: 1em;
        padding: .4em 0 .2em 0;
    }
    .introduction .title a {
        padding: 0.8em 3em;
    }
    #about .img {
        display: none;
    }
    #about:before {
        background: none;
    }
    #about {
        min-height: 100dvh;
    }
    #about .about {
        padding: 2em 1.5em 2em 1.5em;
    }
    .skills:before {
        height: 70vh;
    }
}
@media only screen and (max-width: 768px) {
    .introduction h1 {
        font-size: 4em !important;
    }
    .info {
        gap: 0;
    }
    .info .box .circle { 
        height: 12em;
        width: 12em;
    }
}